/*!*底部进入小程序*!*/
.edit-modal.hiding{
    display: none;
    opacity: 0;
}
.edit-modal, .edit-modal-bg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3000;
    width: 100%;
    height: 100%;
}
.edit-modal-bg{
    background-color: rgba(0,0,0,0.5);
}
.edit-modal-body{
    position: absolute;
    bottom: -40px;
    z-index: 3000;
    width: 400px;
    background-color: #ffffff;
    height: 200px;
    border-radius: 200px 200px 0 0;
}
.show-edit-btn, .edit-modal-close{
    position: fixed;
    left: 41%;
    bottom: 5px;
    z-index: 3000;
    width: 70px;
    display: inline-block;
}
.show-running{
    animation: showRunning 500ms linear forwards;
    -webkit-animation: showRunning 500ms linear forwards;
}
.hide-running{
    animation: hideRunning 500ms linear forwards;
    -webkit-animation: hideRunning 500ms linear forwards;
}
.opacity-show{
    animation: opacityShow 500ms linear forwards;
    -webkit-animation: opacityShow 500ms linear forwards;
}
.opacity-hide{
    animation: opacityHide 500ms linear forwards;
    -webkit-animation: opacityHide 500ms linear forwards;
}
@keyframes showRunning
{
    0% {
        transform:rotate(0);
        -webkit-transform:rotate(0);
    }
    100% {
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
    }
}
@-webkit-keyframes showRunning
{
    0% {
        transform:rotate(0);
        -webkit-transform:rotate(0);
    }
    100% {
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
    }
}
@keyframes hideRunning
{
    0% {
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
    }
    100% {
        transform:rotate(0);
        -webkit-transform:rotate(0);
    }
}
@-webkit-keyframes hideRunning
{
    0% {
        transform:rotate(-45deg);
        -webkit-transform:rotate(-45deg);
    }
    100% {
        transform:rotate(0);
        -webkit-transform:rotate(0);
    }
}
@keyframes opacityShow
{
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
        display: -moz-box; /* 老版本语法: Firefox (buggy) */
        display: -ms-flexbox; /* 混合版本语法: IE 10 */
        display: -webkit-flex; /* 新版本语法: Chrome 21+ */
        display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    }
}
@-webkit-keyframes opacityShow
{
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
        display: -moz-box; /* 老版本语法: Firefox (buggy) */
        display: -ms-flexbox; /* 混合版本语法: IE 10 */
        display: -webkit-flex; /* 新版本语法: Chrome 21+ */
        display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    }
}
@keyframes opacityHide
{
    0% {
        opacity: 1;
        display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
        display: -moz-box; /* 老版本语法: Firefox (buggy) */
        display: -ms-flexbox; /* 混合版本语法: IE 10 */
        display: -webkit-flex; /* 新版本语法: Chrome 21+ */
        display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@-webkit-keyframes opacityHide
{
    0% {
        opacity: 1;
        display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
        display: -moz-box; /* 老版本语法: Firefox (buggy) */
        display: -ms-flexbox; /* 混合版本语法: IE 10 */
        display: -webkit-flex; /* 新版本语法: Chrome 21+ */
        display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
    }
    100% {
        opacity: 0;
        display: none;
    }
}