body {
    color: #333;
}

.white-bg {
    width: 90%;
    margin: 3% auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 1% 0;
}

.table {
    display: table;
    width: 95%;
    margin: 2% auto;
    border: 1px solid #f5f5f5;
    word-break: break-all;
}

.table>tbody>tr>td {
    border: 1px solid #e3e3e3;
}

.table tr td {
    padding: 4px 4px;
}

th {
    border: 1px solid #e3e3e3;
}

.button {
    display: inline-block;
    vertical-align: baseline;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 8px;
}

.blue {
    color: #d9eef7;
    border: solid 1px #0076a3;
    background: #0095cd;
}

.blue:focus {
    color: #80bed6;
}

.red {
    color: #faddde;
    border: solid 1px #980c10;
    background: #d81b21;
}

.red:active {
    color: #de898c;
}

.green {
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
}

.green:active {
    color: #a9c08c;
}

.white {
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
}

.white:active {
    color: #999;
}

.orange {
    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
}

.orange:active {
    color: #fcd3a5;
}

.pinkRed {
    color: #e8f0de;
    border: solid 1px #da7c0c;
    background: #FA6B6B
}

.hide {
    display: none;
}