.event-detail-bottom {}
.event-detail-bottom ul{margin: 0px;}
.event-detail-bottom li {
    float: left; height: 42px; line-height: 42px; text-align: center;
    /*margin-top: 3px;
    border: 1px solid #aaaaaa;*/
    font-size: 18px; color: #fff;
}
.event-detail-bottom li a{
    color: #fff;
}

#event-banner {position:relative; height: 170px; }
.event-banner-img {height: 170px; max-width: 100%; overflow: hidden; position: relative;}
.event-banner-img img {
    max-width: 100%;
    height: 100%;
    position: absolute;
}
#event-banner-content {position: absolute; z-index: 1; left: 0; bottom:0px; width: 100%; color: #fff;
    background:rgba(0,0,0,0.4);
    height: 43px;
    line-height: 43px;
    overflow: hidden;}

#banner-content-left {line-height: 33px; margin: 5px 0px 5px 0px; padding-left: 10px; border-right: 1px solid #aaaaaa; float: left; width: 80%; font-size: 16px; overflow: hidden;}
#banner-content-right { width: 20%;float: right; height: 100%; line-height: 21px; text-align: center; padding-top: 2px;}
#banner-content-right img {height: 20px; }

#event-address-content {
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 43px;
    line-height: 43px;
    overflow: hidden;
}

#address-content-left {
    line-height: 33px;
    margin: 5px 0px 5px 0px;
    border-right: 1px solid #aaaaaa;
    float: left;
    width: 80%;
    font-size: 16px;
    overflow: hidden;
}

.event-intro-box {margin-bottom: 20px;background: #fff; padding: 0 10px 0 10px;}
.event-intro-box ul {margin: 0px;}
.event-intro-box li {border-bottom: 1px solid #ebeae8;padding: 14px 0; height: 48px;}
/*.event-intro-box li:last-child {border-bottom: 0;}*/
.event-intro-box li a {text-decoration: none;}
/*.event-intro-box li .small-image {margin-top: 3px;}*/

#member-title {height: 43px; line-height: 43px; border-bottom: 1px solid #ebeae8; color: #8B8B8B;}
#event-member {height: 96px;}
#event-member ul { margin:0;}
#event-member li {float: left; width: 20%; border: none; height: 86px; overflow: hidden;display: inline; text-align:center;}
.leader-logo {float: none;left: 50%;margin-left: -27px; height: 50px;}
.lead-name {position: relative; font-size: 13px; padding-top: 3px;}

#img-num {
    width: 25px;
    height: 25px;
    position: absolute; z-index: 1;
    right: 10px; top: 10px; background: rgba(0,0,0,0.3); color: #fff; margin: 5px;text-align: center;
    padding:2px;
}

.event-box {
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    background: #fff;
}
#event_nav {
    background-color: #fff;
    display: none;
    margin: 0 auto;
    max-width: 780px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding-right: 20px;
}
.event-box .box-title {
    /*height: 40px;*/
    /*line-height: 40px;*/
}
.event-box .box-title > div {
    /*border-bottom: 1px solid #e9e9e9;*/
    /*height: 40px;*/
    line-height: 38px;
    /*margin: 0 10px 10px 0;*/
}
.event-box .box-title .box-ul {
    width: 100%;
}
.event-box .box-title li {
    padding: 0px;
    float: left;
    text-align: center;
}

#event_nav_build li {
    width: 33.3%;
}

#event_nav_build_four li {
    width: 25%;
}

#event_nav li {
    width: 33.3%;
}

#event_nav_four li {
    width: 25%;
}

#event-about {margin-bottom: 20px;}

#event-about li {
    width: 50%;
}

#event-attrack {
    background: #fff;
}

.event-box .box-title .box-in {
    cursor: pointer;
    display: block;
    height: 48px;
    line-height: 48px;
}
.event-box .box-title .active .box-in {

    color: #30B25C;
    border-bottom: 2px solid #30B25C;
}
.event-box .box-intro .box-detail {
    min-height: 100px;
    overflow: hidden;
    width: 100%;
}

.box-intro img {
    max-width: 100%;
}

.event-box .box-intro .box-xtitle {
    border-bottom: 1px dashed #30B25C;
    color: #30B25C;
    float: left;
    font-family: 微软雅黑;
    font-size: 14px;
    height: 20px;
    padding: 10px 0;
    width: 80px;
}
.event-box .box-intro .box-forin {
    color: #868989;
    font-family: 微软雅黑;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
}

#about-intro li {width: 100%; height: 48px; line-height: 48px; border-bottom: 1px solid #ebeae8; }
#about-intro li:last-child {border: none;}

#about-intro li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 8px;    /*加时间后*/
}

#my-box-title li {
    width: 33.3%;
}

#my-logo {
    position: relative;
    width: 48px;
    float: none;
    /*height: 40px;*/
}

#collect {
    width: 25%;
    background: #fff;
}

#consult {
    width: 15%;
    /*background:-moz-linear-gradient(top,#43ADD9,#3EA1CA);!*火狐*!*/
    /*background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#43ADD9), to(#3EA1CA));!*谷歌*!*/
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#43ADD9), to(#3EA1CA));      !* Safari 4-5, Chrome 1-9*!*/
    /*background: -webkit-linear-gradient(top, #43ADD9, #3EA1CA);   !*Safari5.1 Chrome 10+*!*/
}

.buy {
    width: 50%;
    background:-moz-linear-gradient(top,#3FC87D,#38B26F);/*火狐*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#3FC87D), to(#38B26F));/*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3FC87D), to(#38B26F));      /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #3FC87D, #38B26F);   /*Safari5.1 Chrome 10+*/
}

.redbuy {
    width: 50%;
    background: #fc1a04;
}

.logo-box {
    border-radius: 25px; width: 50px; height: 50px; overflow: hidden; background: rgba(0,0,0,0.4);
    position: relative;
}

.logo-num {
    position: absolute;z-index: 1; bottom: 0; text-align: center;
    background:rgba(0,0,0,0.4); width: 100%; color: #fff; font-size: 10px;
}

#attrack-title {
    color: #3CBD76;text-align: center; height: 40px; line-height: 40px; border-bottom: 1px solid #ebeae8;
    font-size: 18px;
}

#attrack-c {
    text-align: center; height: 200px; line-height: 50px;
}

#attrack-c img {
    margin-top: 10px;
    width: 120px; height: 120px;
}

#attrack-c p {
    color: #8B8B8B; font-size: 14px;
}

#box-comment {}
#box-comment ul {}
#box-comment ul li {border-bottom: 1px solid #ebeae8; padding: 10px; height: auto;}
.tt {color: #C4C4C4; font-size: 12px;}
.rc {margin:0 5px;}

.cr {background: #F0F0F0; border-radius: 3px; padding: 2px; position: relative; margin-top: 5px;}
.cr:before {
    border: solid transparent;
    position: absolute;
    pointer-events: none;
    /*right: 100%;*/
    content: "";width: 0;
    height: 0;
    border-bottom-color: #f3f3f3;
    border-width: 10px;
    top: -20px;
    /*margin-top: -20px;*/
}
.cr p{margin: 2px 5px;}

.bottom {position: fixed;bottom: 0px; left: 0px; right: 0px;}

#bottom {
    background: none repeat scroll 0 0 #9B8CE5;
    border-top: 1px solid #e9e9e9;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 42px;
    left: 0;
    line-height: 42px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 100%;
    z-index: 10;
}

#consultmore, #subscriptme {
    background: #fff;
    margin:70px 20px 20px 20px;
    bottom: auto;
    border-radius: 5px;
}

.modal-header {border: 0; padding: 10px; height: 40px;}
.modal-body {padding: 0 10px 5px;}
.in {height: auto;margin:0;}
.close {opacity: 1; }
.mbox { text-align: center; padding: 10px 0;}

.text-overflow{
    display:block;/*内联对象需加*/
    width:15em;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
}
.navbar-fixed-bottom {
    max-width: 800px;
    margin: 0 auto;
}