a{
    color: #333;
}
.index-list{
    background-color: #fff;
    margin-bottom: 10px;
}
.list-title{
    font-size: 16px;
    padding: 10px;
}
.list-content{
    padding: 0 10px;
}
.class{
    width: 20%;
    text-align: center;
    padding-bottom: 10px;
}
.class-title{
    font-size: 12px;
    padding-top: 5px;
}
.destination-list{
    padding-bottom: 10px;
}
.destination-title{
    font-size: 16px;
    text-align: center;
    color: #888;
}
.title-line{
    height: 14px;
}
.title-line > div{
    width: 16px;
    height: 1px;
    border-top: 1px solid #888;
    margin: 0 auto;
    margin-top: 7px;
}
.destination-content{
    padding: 0 5px;
}
.destination{
    width: 33.33%;
    padding-bottom: 10px;
}
.destination-img{
    background-color: #f6f5fa;
    min-height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: table;
    width: 100%;
    /*border-radius: 4px;*/
    /*overflow: hidden;*/
}
.destination-name{
    /*background-color: rgba(0,0,0,0.4);*/
    color: #333;
    font-size: 14px;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 10px;
}
.show-all{
    color: #9B8CE5;
    border: 2px solid rgba(155,140,229,0.3);
    border-radius: 50%;
    width: 40px;
    height: 38px;
    padding: 5px;
    padding-top: 8px;
    display: inline-block;
    line-height: 16px;
}